.product-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
    position: relative;
}
.trending {
    background-color: #fb923c;
    border-radius: .1rem;
    color: #fff;
    font-size: .9rem;
    padding: .1rem .2rem;
    position: absolute;
    right: 0;
}
.prod-size {
    background-color: #fb923c;
    bottom: 0px;
    color: #fff;
    left: 0;
    padding: .2rem .4rem;
    position: absolute;
}
#card-content {
    margin: 0.1rem;
    padding: 0.1rem;
}
.title-div{
    font-size: 0.85rem;
    font-weight: 500;
    color: #64748b;
}


.price-div {
    
}
.new-price {
    font-weight: bold;
    color: #0f172a;
}
.old-price {
    margin-left: 8px;
    color: #999;
    text-decoration: line-through;
}
#wishlisted-btn {
    bottom: 10px;
    color: red;
    right: 0;
    position: absolute;
    padding: 0.1rem;
    margin: 0;
}
#wishlist-btn {
    bottom: 10px;
    color: gray;
    right: 0;
    position: absolute;
    padding: 0.1rem;
    margin: 0;
}


