.category-container {
  margin: 2rem 0;
  padding: 0 10vw;
}
.homeImg {
  width: 80vw;
  margin: 12px 0;
}

.category-card-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.services-section {
  display: flex;
  justify-content: center;
}
.services-div {
  width: 100px;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  margin:1rem;
}
.shop-by-category-div {
  background-color: #0284c7;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 20px;
  width: 93vw;
  text-align: center;
  margin: 1rem auto;
}

@media (max-width: 600px) {
  body {
    background-color: rgb(248 250 252);
  }
}